In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [4]:
print(high_school_types)

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

In [5]:
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [4]:
import pandas as pd

In [13]:
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [15]:
School_Series=pd.Series(high_schools)
School_Series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [24]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name": "Griffin High School", "type": "Charter"}]

In [26]:
School_data_frame=pd.DataFrame(high_school_dicts)
School_data_frame

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [7]:
school_id=[0, 1, 2, 3, 4]

In [8]:
school_name=["Huang High School","Figueroa High School","Shelton High School", "Hernandez High School","Griffin High School"]

In [9]:
type_of_school=["District","District", "Charter","District","Charter"]

In [10]:
school_df=pd.DataFrame()

In [11]:
school_df["School ID"]=school_id
school_df["School Name"]=school_name
school_df["Type"]=type_of_school

In [12]:
school_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [13]:
school_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [15]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [17]:
school_df=["School ID", "School Name", "Type"]

In [18]:
school_df

['School ID', 'School Name', 'Type']

In [19]:
school_df=[columns={"School ID", "School Name", "Type"}]

SyntaxError: invalid syntax (<ipython-input-19-ce9f62668fb1>, line 1)